<html data-namespace-typo3-fluid="true"
	xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default" />
<f:section name="main">
	<f:debug>{extensionInfos}</f:debug>
	<p>
		<f:for each="{extensionInfos}" as="extensions">
			<ul>
				<f:for each="{extensions}" as="value" key="label">
					<f:if condition="{label} == 'name'">
						hier steht der EtxensioName: {value}
					</f:if>
					<li>
						<f:if condition="{value.0}">
							<f:then>
								<strong><f:translate key="{label}" /></strong>
								<ul>
									<f:for each="{value}" as="subValue">
										<li>{subValue}</li>
									</f:for>
								</ul>
							</f:then>
							<f:else>
								<strong><f:translate key="{label}" /></strong> {value}
							</f:else>
						</f:if>
					</li>
				</f:for>
			</ul>
		</f:for>
	</p>
</f:section>
</html>

